@import "/src/shared/reset.css";
@import "/src/shared/common.css";

/* common.css의 로컬 폰트 적용이 안되는 문제로 인해 파일에 직접 import해서 사용 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.cdnfonts.com/css/zen-dots");

body {
  height: 100vh;
  color: white;
  margin: 0;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* 로고 */
.logo {
  width: 135px;
  height: 111px;
  margin: 0 0 0 100px;
}

/* 헤더 */
.header .nav {
  min-width: 1550px;
  position: fixed;
  top: 20px;
  left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 0;
  z-index: 1;
}

.header-btns {
  min-width: 200px;
}

.header .glowing-btn {
  position: relative;
  color: #52f7ef;
  padding: 5.6px 16px;
  border: 2.4px solid #52f7ef;
  border-radius: 7.2px;
  background: none;
  perspective: 32px;
  font-size: 16px;
  letter-spacing: 8px;
  box-shadow: inset 0px 0px 8px 0px #52f7ef, 0px 0px 8px 0px #52f7ef;
  margin: 0 30px 0 0;
  cursor: pointer;
  animation: border-flicker 2s linear infinite;
}

.header .glowing-text {
  font-family: "Zen Dots", sans-serif;
  margin: 0 -12.8px 0 0;
  text-shadow: 0 0 2px hsl(0 0% 100% / 0.3), 0 0 7.2px #52f7ef;
  animation: text-flicker 3s linear infinite;
}

.header .faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.header .glowing-btn:hover {
  color: rgb(129, 255, 249);
  text-shadow: none;
  animation: none;
}

.header .glowing-btn:hover .glowing-text {
  animation: none;
}

.header .glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

/* video 섹션 */
.video-section {
  position: relative;
  min-width: 1400px;
  height: 300vh;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.video.active {
  opacity: 1;
}

.video-text {
  min-width: max-content;
  font-family: "Zen Dots", sans-serif;
  position: absolute;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 2;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.video-text.active {
  opacity: 1;
  transform: translateX(0);
}

/* video 섹션마다 있는 글 */
.first {
  top: 5%;
  left: 5%;
  font-size: 40px;
}

.second {
  top: 15%;
  left: 18%;
  font-size: 40px;
}

.third {
  top: 25%;
  left: 40%;
  font-size: 40px;
}

/* 스크롤 바 */
.scroll-bar {
  width: 15px;
  height: 700px;
  position: fixed;
  top: 50%;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: rgba(0, 0, 0, 0.2);
  transform: translateY(-50%);
  border-radius: 50px;
  z-index: 1;
}

.scroll-fill {
  border-radius: 50px;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 4px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transition: height 1s ease;
}

/* footer */
.footer {
  width: 100%;
  height: 10%;
  color: white;
  background-color: rgba(49, 49, 49, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  font-size: 10px;
  font-family: "Zen Dots", sans-serif;
}

.footer.active {
  opacity: 1;
  pointer-events: auto;
}

.footer-text {
  min-width: max-content;
  line-height: 12px;
  margin: 0 50% 0 0;
}

.footer-logo {
  width: 100px;
  margin: 10px;
}

.footer-facebook,
.footer-insta {
  width: 20px;
  height: auto;
}

/* 애니메이션 */
@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }
  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  8% {
    opacity: 0.1;
  }
  9% {
    opacity: 1;
  }
  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }
  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }
  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
