@import "./reset.css";
@import "./common.css";

ul, li {
    list-style-type: none;
}
h1 {
    font-family: 'Zen Dots';
    font-size: 32px;
}
h2, h3, h4 {
    font-family: 'Pretendard';
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 20px;
}
body {
    width: 1920px;
    height: 1856px;
}
.book {
    display: flex;
}
.side {
    width: 572px;
    height: 1856px;
    background-image: url(/space-var/assets/images/book/side-temp.jpg);
}
.side h1 {
    background-color: white;
    width: 358px;
    height: 214px;
}
.side img {
    margin: 34px 0px 0px 27px;
}

.content {
    margin: 0px 35px 0px 65px;
    width: 1440px;
    height: 1696px;
}
.book-price h3 {
    margin: 11px 0px 38px 29px;
}
.carousel {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 0 40px;
    width: 1248px;
    height: 160px;
}
.carousel button {
    
    background-color: black;
    border: none;
    padding: 0px 0px 0px 0px;
}
.carouel-animation {
    display: flex;
    align-content: center;
    padding: 0px 0px 0px 0px;
    gap: 50px;
}



