@font-face {
  font-family: "Pretendard";
  src: url(../fonts/Pretendard-Black.otf) format("otf");
}

@font-face {
  font-family: "Pretendard Medium";
  src: url(../fonts/Pretendard-Medium.otf) format("otf");
}

@font-face {
  font-family: "Pretendard SemiBold";
  src: url(../fonts/Pretendard-SemiBold.otf) format("otf");
}

@font-face {
  font-family: "Zen Dots";
  src: url(../fonts/ZenDots-Regular.ttf) format("ttf");
}

* {
  box-sizing: border-box;
}
