@import "./reset.css";
@import "./common.css";

body {
  color: #fff;
  background: #040404;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.sec3 .crews-wrap {
  display: flex;
  justify-content: space-between;
  margin: 45px auto 0;
  width: 996px;
}

.sec3 .crews-wrap .crews-list {
  text-align: center;
}

.sec3 .crews-list .pic {
  margin: 0 0 20px;
  width: 174px;
  height: 189px;
  border: 1px solid #000;
}

.sec3 .crews-list .name {
  font-size: 18px;
}

.sec4 h2 {
  margin: 66px 0 31px;
}

.sec4 .map-wrap {
  overflow: hidden;
  border-radius: 30px;
}

.sec5 {
  margin: 100px 0 0;
  height: 592px;
  background: url(../images/company/bg_sec5.png) no-repeat;
  background-size: cover;
}

.sec5 .sec5-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.sec5 .sec5-wrap .tit {
  font-family: "Zen Dots";
  font-size: 48px;
  text-align: center;
  line-height: 64px;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.sec5 .sec5-wrap .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0 0;
  width: 688px;
  height: 73px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  background: -moz-linear-gradient(90deg, rgba(33, 128, 225, 1) 0%, rgba(80, 96, 241, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(33, 128, 225, 1) 0%, rgba(80, 96, 241, 1) 100%);
  background: linear-gradient(90deg, rgba(33, 128, 225, 1) 0%, rgba(80, 96, 241, 1) 100%);
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
