@import "./reset.css";
@import "./common.css";

/* font */

@font-face {
    font-family: "Pretendard-Black";
    src: url("../assets/fonts/Pretendard-Black.otf");
}
@font-face {
    font-family: "ZenDots-Regular";
    src: url("../assets/fonts/ZenDots-Regular.ttf");
}

* {
    box-sizing: border-box;
}

body {
    width: 1920px;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.bg {
    width: 1920px;
    height: 644px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/images/space12.jpg");
    background-size: cover;
}

.introduction {
    width: 1400px;
    height: 100%;
    margin: 200px 0 0 400px;
}

.intro-title {
    margin: 0 0 20px 0;
    font-size: 60px;
    font-family: 'ZenDots-Regular';
}

.intro-text {
    font-size: 20px;
    font-family: 'Pretendard-Black';
}